/* ---------------- COMMON ------------------ */

.footer__logo {
  display: block;
  transition: .5s;
}
.footer__logo:hover {
  opacity: .7;
}

/* ---------------- NEWS ARCHIVE ------------------ */
.archive.post-type-archive.post-type-archive-news {
  overflow: inherit;
  padding: 0;
}

/* ---------------- TEAM INFO ARCHIVE ------------------ */
.archive.post-type-archive.post-type-archive-teaminfo {
  overflow: inherit;
  padding: 0;
}

/* ---------------- NEWS SINGLE ------------------ */
.news-nav__link {
  font-size: 40px;
}
.news-nav__top {
  font-size: 28px;
}
@media screen and (max-width: 765px) {
  .news-nav__link {
    font-size: 23px;
  }
  .news-nav__top {
    font-size: 20px;
  }
}
/* ---------------- CONTACT ------------------ */
.contact__description {
  margin-bottom: 30px;
}
.contact-teamowner {
  padding-top: 60px;
}
.contact__pdf {
    text-align: center;
}
.contact__pdf a {
  display: inline-block;
  text-align: center;
  margin: 0 auto 30px;
  padding: 10px 40px;
  width: auto;
  text-decoration: none;
  color: #fff;
  border: 2px #f00 solid;
  border-radius: 20px;
  transition: .3s;
}
.contact__pdf a:hover {
  background: #f00;
}
