.wp-editor {
  padding: 30px 0 30px 0;
  width: 800px;
  margin: auto;
}
.wp-editor .news-item-head {
  margin: 0 0 50px 0;
}
.wp-editor .news-item-date {
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: #5588FF;
  margin-bottom: 12px;
}
.wp-editor .news-item-ttl {
  line-height: 1.333;
  font-size: 24px !important;
  font-weight: 400;
  letter-spacing: 0.15em;
}
.wp-editor * {
  font-size: 16px;
}
.wp-editor img {
  max-width: 100% !important;
  display: block;
  margin: 0 auto 50px;
}
.wp-editor strong {
  font-weight: 700;
  color: #5588FF;
}
.wp-editor h2, .wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6, .wp-editor ul, .wp-editor dl, .wp-editor ol, .wp-editor table {
  clear: both;
}
.wp-editor h1, .wp-editor h2, .wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6, .wp-editor p, .wp-editor blockquote, .wp-editor ul, .wp-editor dl, .wp-editor ol, .wp-editor table {
  margin: 0 0 50px 0;
}
.wp-editor h1, .wp-editor h2, .wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6 {
  line-height: 1.33;
  font-weight: 700;
}
.wp-editor p, .wp-editor blockquote, .wp-editor li, .wp-editor dt, .wp-editor dd, .wp-editor th, .wp-editor td {
  line-height: 1.8;
}
.wp-editor a:link, .wp-editor a:visited {
  color: #5588FF;
}
.wp-editor a:hover {
  color: #FF0066;
  text-decoration: underline;
}
@media screen and (max-width: 765px) {
  .wp-editor {
    padding: 62.5px 0 62.5px 0;
    width: 320px;
  }
  .wp-editor .news-item-head {
    margin: 0 0 15px 0;
  }
  .wp-editor .news-item-date {
    font-size: 16px;
    margin-bottom: 8.5px;
  }
  .wp-editor .news-item-ttl {
    font-size: 22px !important;
    letter-spacing: 0;
  }
  .wp-editor * {
    font-size: 14px;
  }
  .wp-editor p, .wp-editor blockquote, .wp-editor li, .wp-editor dt, .wp-editor dd, .wp-editor th, .wp-editor td {
    line-height: 1.6;
  }
}
